@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet"');


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$peri: #6667AB;
$rosybrown:  #bc8f8f;

// Update Bulma's global variables
$family-sans-serif: "Nunito Sans", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $rosybrown;
$link: $pink;
$footer-padding: 3rem 1.5rem 1rem;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;



@import "../../node_modules/bulma/bulma.sass";
